/* Estilos globais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('premium_photo-1661877737564-3dfd7282efcb.jpeg'); /* Coloque o caminho correto da imagem de fundo */
  background-size: cover;
  background-position: center;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Estilo do header e do menu de navegação */
header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffa500; /* Cor de destaque ao passar o mouse */
}

/* Estilo da seção de contato */
section {
  margin-top: 100px; /* Ajuste de margem para não cobrir o conteúdo pelo menu */
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Fundo semi-transparente para o formulário */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo do formulário */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type='submit'] {
  width: 50%;
  max-width: 200px;
  padding: 10px;
  background-color: #ffa500;
  border: none;
  border-radius: 5px;
  color: #1e1e1e;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type='submit']:hover {
  background-color: #f0f0f0;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    width: 90%;
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    width: 100%;
  }

  input[type='submit'] {
    width: 100%;
  }
}
